<!doctype html>
<html>
    <head>
        <title>{{ layoutTitle }}</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- bootstrap
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        -->
        
        <!-- zurb foundation
        <link rel="stylesheet" href="css/foundation.css">
        -->
        
        <!-- fontawesome
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
        -->
        
        <!-- custom css
        <link rel="stylesheet" href="css/style.css">
        -->
    </head>
    <body>
        
        <!-- menu - paste menu markup here for css framework of choice--> 
        <div>
            <h2>This is the menu area. Paste in markup for css framework of choice here.</h2>
        </div>
        
        <!-- body -->
        {% block content %}{% endblock %}
        
        <!-- jquery
        <script src="js/vendor/jquery.min.js"></script>
        -->
        
        <!-- css js for foundation 
        <script src="js/vendor/what-input.min.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        -->
        
    </body>    
</html>